body{
  background-color:rgb(2, 3, 27);
}

h1{
  color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .game {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
  }
  
  .game--cell {
    border: 1px solid rgba(128, 128, 128, 0.644);
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .cell__correct{
    color: white;
    background-color: green;
  }

  .cell__wrong{
    color: white;
    background-color: rgb(177, 22, 22);
    }

  .cell__another{
    color: white;
    background-color: rgb(190, 128, 13);
  }

  .victory {
    font-size: 1.2rem;
    color: green;
    display: none;
  }
  
  .defeat {
    font-size: 1.2rem;
    color: red;
    display: none;
  }